### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# IntelliJ IDEA files
.idea/
*.iml

# Build output folders
out/
build/
target/

# OS temporary files
.DS_Store
Thumbs.db

# Log files
*.log

# Java compiled classes
*.class

# Gradle cache (if you use Gradle later)
.gradle/

# Maven target (if you use Maven later)
!src/